body {
font-family: Georgia, Times, serif; 
background-color: #fcfffd;
}

a {
color: red;
text-decoration: none;
}

#container {
margin: 0 0 0 0;
padding: 0;
width: 100%;
height: 100%;
}

#header {
text-align: center;
letter-spacing: 2px;
margin-left: -15px;
margin-right: -15px;
margin-top: -15px;
padding: 0px;
}

#site-banner {
}

/* #sub-site-name {
margin-top: 20px;
color: white;
font-size: 30px;
font-weight: 100;
text-shadow:
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;  
}

#site-name {
margin-top: -15px;
padding-bottom: 20px;
width: 100%;
background-color: #ffc07c;
font-weight: 100;
font-size: 60px;
text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  

}
rendered obsolete by banner
*/

#header a {
color: white;

}
#nav {
height: 33px;
}


nav ul {
font-family: "Avenir Next", "Avenir", Helvetica, Arial, Sans-Serif;
margin-left: -15px;
margin-top: 0px;
padding-top: 1vh;
padding-bottom: 1vh;
list-style-type: none ;
text-align: center;
background-color: #b00300;
height: auto;
}


nav ul li {
margin-left: 2%;
margin-right: 2%;
display: inline;
font-size: 1vw;
}

nav ul #navBlog a {
text-decoration: none;
color: #e6e600;
}

.secondaryContent {
font-family: "Avenir Next", "Avenir", Helvetica, sans-serif;
color: #343a37;
letter-spacing: .5px;
line-height: 1.5;
margin-left: 99px;
margin-right: 99px;
margin-top: 33px;
}

.secondaryContent h3 {
text-align: center;
font-size: 40px;
text-transform: uppercase;
font-family: "Bodoni 72", Georgia, "Times New Roman", Serif;
}

.secondaryContent ul {
list-style-type: none;

}

.secondaryContent li p {
margin-left: -40px;
}

.splash {
margin-top: -15px;
}


#highlightedBlog {
margin-left: -40px;
margin-right: 0;
font-weight: bold;
}

#highlightedAnnouncement {
margin-left: -40px;
margin-right: 0;
font-weight: bold;
}

#highlightedAnnouncement a {
color: #343a37;
}

.announcement {
margin-left: -40px;
font-weight: bold;
}

.announcement a {
color: #343a37;
}

.calendar {
text-align: center;
margin-left: -15px;
}

.calendar ul {
padding: 0;
}

#footer {
margin-top:33px;
margin-left: -15px;
margin-right: -15px;
background-color: #b00300;
padding: 20px;
color: white;
font-family: arial, sans-serif;
font-family: "Avenir Next", "Avenir", Helvetica, sans-serif;
}

#footer ul {
padding: 0;
list-style-type: none;
text-align: center;

}

footer ul li {
margin: 20px;
display: inline;
}

footer a {
color: white;

}

.mySlides {
display:none;
}

#about-content  {
text-align: center;
}
