html, body {
font-family: Georgia, Times, serif; 
background-color: #fcfffd;
height: 95%;
}

a {
color: red;
text-decoration: none;
}

#container {
padding: 0;
width: 100%;
height: auto;
min-height:90%;
}

#header a {
color: white;
}

#header {
margin-left: 0px;
margin-right: -0px;
margin-top: -0px;
}

svg {
margin-top: -73px;
text-align: left;
margin-left: 0;
}

#nav {
height: 33px;
}


nav ul {
font-family: "Avenir Next", "Avenir", Helvetica, Arial, Sans-Serif;
margin-top: -59px;
padding-top: 16px;
padding-bottom: 16px;
list-style-type: none ;
text-align: right;
background-color: #b00300;
}

nav ul li {
margin-left: 20px;
margin-right: 20px;
display: inline;
color: white;
font-size: 16px;
}

nav ul #navBlog a {
text-decoration: none;
color: #e6e600;
}

.secondaryContent {
font-family: "Avenir Next", "Avenir", Helvetica, Arial, Sans-Serif;
color: #343a37;
letter-spacing: .5px;
line-height: 1.5;
margin-left: 99px;
margin-right: 99px;
margin-top: 33px;
}

.secondaryContent h3, h3.secondaryContent {
text-align: center;
font-size: 40px;
font-family: "Bodoni 72", Georgia, "Times New Roman", Serif;
text-transform: uppercase;
}
.secondaryContent h4 {
text-align:center;
font-size: 30px;
font-family: "Bodoni 72", Georgia, "Times New Roman", Serif;
text-transform: uppercase;
}

.secondaryContent ul {
list-style-type: none;
margin-left: -33px;
}

#splash {
margin-left: -130px;
margin-right: -130px;
margin-top: -33px;
height: 428px;
background-image: url("parishphoto800px.png");
background-repeat: no-repeat;
background-size: cover;
padding:0;
text-align: center;
}
#splash #welcome {
font-size: 56px;
font-family: Georgia;
color: white;
margin-top: 0;
padding-top: 160px;
display: none;
text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  
}
#highlightedAnnouncement {
margin-left: -40px;
margin-right: 0;
font-weight: bold;
}

#highlightedAnnouncement a {
color: #343a37;
}

.announcement {
margin-left: -40px;
font-weight: bold;
}

.announcement a {
color: #343a37;
}

.calendar {
text-align: center;
margin-bottom: 33px;
height: 100%;
min-height: 300px;
}
.calendar iframe[seamless] {
display: block;
}

.calendar ul {
padding: 0;
}

#footer {
margin-top: 66px;
bottom: 0;
width: 100%;
background-color: #b00300;
padding: 20px;
font-family: "Avenir Next", "Avenir", Helvetica, Arial, Sans-Serif;
color: white;
}

#footer ul {
padding: 0;
list-style-type: none;
text-align: center;

}

footer ul li {
margin: 20px;
display: inline;
}

footer a {
color: white;

}

