{% extends "base_secondary.html" %}

{% block content %}
<section class="secondaryContent">
<h3>Children</h3>
<p>Children are an integral part of the congregation and worship at Two Saints. In keeping with Jesus saying “Permit the children to come to Me; do not hinder them; for the kingdom of God belongs to such as these." Children are always welcome and not expected to stay silent during services.</p>

<p>The 10am service offers children's formation during the service until the passing of the peace, at which time they join their families in the congregation for communion and the remainder of the service.</p>

<p>The fourth Sunday of the month is a special 'Ageless Worship' service where children attend the entire service with the congregation. The music is selected to be easy for kids to learn, and anyone can join the 'children's choir' which typically involves giving them percussion instruments. The service is shorter and involves a sermon geared towards children.</p>

<p>If families would like to learn more about Children's Ministries at Two Saints including baptisms, confirmation, and weekly children services please contact us</p>

<h3><img src="/static/children.jpg" style="text-align:center;"></h3>
</section>
{% endblock content %}
