{% extends "base_secondary.html" %}

{% block content %}
<section class="secondaryContent" id="contactInfo">
<h3>Contact Information</h3>
<ul>
	<li>17 S Fitzhugh St. Rochester, NY, 14164</li>
	<li>Email: office@twosaints.org</li>
	<li>Phone: (585) 546-7730</li>
	<li>Fax: (585) 546-7733</li>
</ul>
<h4>Parish Staff</h4>
<ul>
	<li>The Rev. Keith Patterson, <em>Rector</em></li>
	<li>The Rev. Dr. John T. Burr, <em>Parish Deacon</em></li>
	<li>Dr. Christopher Petit, <em>Director of Music</em></li>
	<li>Felix Vargas, <em>Sexton</em></li>
	<li>The Rev. Saundra Cordingley & the Rev. Philip Schaefer, <em>Pastoral Associates</em></li>
	
</ul>
<h4>Parish Information</h4>
<ul>
	<li>Wardens: Leslie Levy & Kelley McClenney</li>
	<li>Clerk: Marino Fernandez, Esq.</li>
	<li>Treasurer: Rochelle Coley</li>
	<li>Vestry: Jesse Allen, Peter Blaszkow, Michael Davis, Carol Evans, Irene Marrero, Dawn Moore</li>
	
</section>
{% endblock content %}
