{% extends "base_secondary.html" %}

{% block content %}
<section class="secondaryContent" id="contactInfo">
<h3>Contact Information</h3>
<ul>
	<li>17 S. Fitzhugh St. Rochester, NY, 14614</li>
	<li><a href="https://www.facebook.com/2saintsroc">Two Saints Facebook</a></li>
	<li><a href="https://www.facebook.com/jazzvespersat2saints">Two Saints Jazz Vespers Service Facebook</a></li>
	<li>Email: <a href="mailto:twosaintschurch@gmail.com">twosaintschurch@gmail.com</a></li>
	<li>Phone: (585) 546-7730</li>
	<li>Fax: (585) 546-7733</li>
</ul>
<h4>Parish Staff</h4>
<ul>
	<li>The Rev. Keith Patterson, <em><a href="mailto:tsrector17@gmail.com">Rector</a></em></li>
	<li>Dr. Christopher Petit, <em>Director of Music</em></li>
	<li>Felix Vargas, <em>Sexton</em></li>
	
</ul>
<h4>Parish Information</h4>
<ul>
	<li>Wardens: Michael Davis & Sharon Cardoza</li>
	<li>Clerk: Peter Blaszkow</li>
	<li>Treasurer: Rochelle Coley</li>
	<li>Vestry: Jesse Allen, Peter Blaszkow, Carol Evans, Moses Gilbert, Rick McGill, Susan Strickland</li>
	
</section>
{% endblock content %}
