{% extends "base_secondary.html" %}

{% block content %}
<section class="secondaryContent">
<h3>Donate</h3>
<p>The Episcopal Church of St. Luke and St. Simon Cyrene appreciates your support of their vital work in the community of Rochester, NY. The parish provides a welcoming place for all to worship, brings spectacular music to the city with free concerts and worship services, supports people who are hungry or experiencing homelessness, and maintains the church as one of Rochester's historic buildings for all to visit.</p>

  <p><b><em>You can support the mission by donating via:</b></em></p>
<ul>
<li style="margin-left: 40px"><a href="https://www.venmo.com/" target="_blank"> <span style="color:blue;">Venmo</span></a> @TwoSaints17</li>
<li style="margin-left: 40px"><a href="https://www.CashApp.com/" target="_blank"> <span style="color:blue;">CashApp</span> $17TwoSaints</a></li>
<li style="margin-left: 40px"><a href="https://tithe.ly/give?c=374418&fbclid=IwAR1N1FvBTrAbh_Bsz-wxutun07pFrVGA3Myu0jPBy8gPJCXmfUI9-_WwFNw" target="_blank"> <span style="color:blue;">Tithely</span></a></li>
<li style="margin-left: 40px">By mailing a check to:</li>
<li style="margin-left: 80px">The Episcopal Church of St. Luke and St. Simon Cyrene</li>
<li style="margin-left: 80px">17 S. Fitzhugh St. </li>
<li style="margin-left: 80px">Rochester, NY, 14614</li>
</ul>

<h3><img src="/static/children.jpg" style="text-align:center;"></h3>
</section>
{% endblock content %}
