{% extends "base.html" %}

{% block content %}
<ul>
{% for announcement in announcements|slice:":5" %}

{% if forloop.counter == 1 %}
<li id="highlighted_announcement"><a href="{% url 'announcement_detail' announcement.id %}">{{ announcement.date }} &mdash; {{ announcement.title }}</a></li>
{{ value|linebreaks }}
<p>
{{ announcement.body }}
</p>

{% endif %}
{% if forloop.counter > 1 %}
<li><a href="{% url 'announcement_detail' announcement.id %}">{{ announcement.date }} &mdash; {{announcement.title }}</a></li>


{% endif %}
{% endfor %}
</ul>
{% endblock content %}
