{% extends "base.html" %}

{% block content %}

<!-- splash -->
<div id="splash">
	<!-- <img src="parishphoto800px.png" alt="Splash"> -->
</div>

<!-- end splash -->

<section class="secondaryContent"><h3>About Us</h3>
<p>St. Luke & St. Simon Cyrene Episcopal Church—affectionately nicknamed "Two Saints"—is a diverse, joyful, and progressive congregation in the heart of Rochester, New York. </br>
</br>
We are an inclusive community of people, a family in faith who want to hear God’s word and follow Jesus in our daily lives. We feel strengthened by our diversity and by our unity in the breaking of the bread. Together we strive to be loving and forgiving towards ourselves and others. We try to honor all of God’s creation and not to be the instrument of our own or another’s oppression.</br>
</br>
We reach across our differences to embrace and support each other in nurturing corporate faith life. Together we use our talents in ministry to the urban community that encircles us, with God's guiding hand and blessing.</p>
</section>
<section class="secondaryContent">
<h3>Announcements</h3>
<ul>
{% for announcement in announcements|slice:":5" %}

{% if forloop.counter == 1 %}
<li id="highlighted_announcement"><a href="{% url 'announcement_detail' announcement.id %}">{{ announcement.date }} &mdash; {{ announcement.title }}</a></li>
<p>
{{ announcement.body|linebreaks }}
</p>

{% endif %}
{% if forloop.counter > 1 %}
<li><a href="{% url 'announcement_detail' announcement.id %}">{{ announcement.date }} &mdash; {{announcement.title }}</a></li>


{% endif %}
{% endfor %}
</ul>
{% endblock content %}
