{% extends "base.html" %}

{% block content %}
<!-- splash -->
<div class="w3-display-container splash">
	<img class="mySlides w3-animate-right" src="static/carousel5_welcome.png" style="width:100%">
	<img class="mySlides w3-animate-right" src="static/carousel4_sundays.png" style="width:100%">
	<img class="mySlides w3-animate-right" src="static/carousel2_eucharist.png" style="width:100%">
	<img class="mySlides w3-animate-right" src="static/carousel3_jazz.png" style="width:100%">
	<img class="mySlides w3-animate-right" src="static/carousel1_ageless.png" style="width:100%">
	<button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
	<button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

<!-- end splash -->
<section class="secondaryContent">
<h3>About Two Saints</h3>
<p id="about-content">St. Luke & St. Simon Cyrene Episcopal Church—affectionately nicknamed "Two Saints"—is a diverse, joyful, and progressive congregation in the heart of Rochester, New York. </br>
</br>
We are an inclusive community of people, a family in faith who want to hear God’s word and follow Jesus in our daily lives.</br> We feel strengthened by our diversity and by our unity in the breaking of the bread.</br> Together we strive to be loving and forgiving towards ourselves and others.</br> We try to honor all of God’s creation and not to be the instrument of our own or another’s oppression.</br>
</br>
We reach across our differences to embrace and support each other in nurturing corporate faith life.</br> Together we use our talents in ministry to the urban community that encircles us, with God's guiding hand and blessing.</p>
</section>

<section class="secondaryContent">
<a href="/blog"><h3>Blog</h3></a>
<ul>
{% for blogEntry in blogEntries|slice:":1" %}

<li id="highlightedBlog"><a href="{%url 'blog_detail' blogEntry.id %}">{{ blogEntry.date }} &mdash; {{ blogEntry.title }}</a></li>
<li><p>
{{ blogEntry.body|linebreaks }}
</p></li>

{% endfor %}

</ul>
<a href="/blog">see more...</a>
</section>
<section class="secondaryContent">
<h3>Announcements</h3>
<ul>
{% for announcement in announcements|slice:":5" %}

{% if forloop.counter == 1 %}
<li id="highlightedAnnouncement"><a href="{% url 'announcement_detail' announcement.id %}">{{ announcement.date }} &mdash; {{ announcement.title }}</a></li>
<li><p>
{{ announcement.body|linebreaks }}
</p></li>

{% endif %}
{% if forloop.counter > 1 %}
<li class="announcement"><a href="{% url 'announcement_detail' announcement.id %}">{{ announcement.date }} &mdash; {{announcement.title }}</a></li>


{% endif %}
{% endfor %}
</ul>
<a href="/archive">see more...</a>
</section>
<script>
var myIndex = 0;
var slideIndex = 1;
carousel();

function carousel() {
	var i;
	var x = document.getElementsByClassName("mySlides");
	for (i = 0; i < x.length; i++) {
		x[i].style.display = "none";
	}
	myIndex++;
	if (myIndex > x.length) {myIndex = 1}
	x[myIndex-1].style.display = "block";
	setTimeout(carousel, 11000);
}

showDivs(slideIndex);

function plusDivs(n) {
	showDivs(slideIndex += n);
}

function showDivs(n) {
	var i;
	var x = document.getElementsByClassName("mySlides");
	if (n > x.length) {slideIndex = 1}
	if (n < 1) {slideIndex = x.length} ;
	for (i = 0; i < x.length; i++) {
		x[i].style.display = "none";
	}
	x[slideIndex-1].style.display = "block";
}
</script>

{% endblock content %}
