{% extends "base_secondary.html" %}

{% block content %}
<section class="secondaryContent">
<h3>MEDIA</h3>
<p>Two Saints maintains a <a href="https://www.youtube.com/channel/UCmif9e1FEf5EFnZjZf8IfJA"><span style="color:blue;">YouTube Channel</a> which hosts videos of remote services and select performances from past concerts</P>
  
<iframe width="560" height="315" src="https://www.youtube.com/embed/K0PQFEMTDBI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
<p><a href="https://www.facebook.com/2saintsroc"><span style="color:blue;">The Two Saints Facebook page</a> is also frequenctly updated with media and parish news. </p>
  
</section>
{% endblock content %}
